.auth-form {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #556B2F;
}

.auth-form__holder {
    position: absolute;
    padding: 46px;
    background-color: #ffffff;
    opacity: 0.9;
}

.auth-form__title {
    font-size: 30px;
    padding: 0;
    margin: 0 0 20px 0;
}

.auth-form__button {
    margin: 10px 0 46px 0!important;
}

.auth-form__set-register {
    position: absolute;
    right: 40px;
    bottom: 40px;
}
